In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("games_2.csv")

/tmp/ipython-input-25-1575539441.py:1: DtypeWarning: Columns (3,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("games_2.csv")

In [ ]:
# 1. Converta para número (float), transformando valores inválidos em NaN
df["ReleaseYear"] = pd.to_numeric(df["ReleaseYear"], errors="coerce")

# 2. Remova linhas com NaN em ReleaseYear
df = df.dropna(subset=["ReleaseYear"])

# 3. Converta para inteiro
df["ReleaseYear"] = df["ReleaseYear"].astype(int)

In [ ]:
contagem = df["ReleaseYear"].value_counts()

In [ ]:
contagem = contagem[contagem.index <= 2025]

In [ ]:
contagem

ReleaseYear
2020    118534
2019     79191
2018     71196
2017     56212
2016     41232
2015     26419
2014     15599
2013      6367
2012      5495
2011      4602
2010      4242
2009      3453
2008      2385
2007      1872
2006      1574
2005      1368
2004      1322
2003      1272
2001      1219
2002      1169
2000      1064
1997       934
1995       926
1999       840
1994       813
1998       806
1996       804
1993       736
1992       618
1991       552
1990       502
1989       396
1987       333
1988       297
1986       246
1985       222
1983       203
1984       180
1982       142
2021       132
2022        79
1981        74
1980        33
2023        27
1978        16
1979        15
1977        12
1976         7
1971         5
2024         3
1975         2
1970         1
1973         1
1972         1
1974         1
1962         1
Name: count, dtype: int64

In [ ]:
contagem_df = contagem.reset_index()
contagem_df.columns = ["ReleaseYear", "quantidade"]

In [ ]:
contagem_df

    ReleaseYear  quantidade
0          2020      118534
1          2019       79191
2          2018       71196
3          2017       56212
4          2016       41232
5          2015       26419
6          2014       15599
7          2013        6367
8          2012        5495
9          2011        4602
10         2010        4242
11         2009        3453
12         2008        2385
13         2007        1872
14         2006        1574
15         2005        1368
16         2004        1322
17         2003        1272
18         2001        1219
19         2002        1169
20         2000        1064
21         1997         934
22         1995         926
23         1999         840
24         1994         813
25         1998         806
26         1996         804
27         1993         736
28         1992         618
29         1991         552
30         1990         502
31         1989         396
32         1987         333
33         1988         297
34         1986         246
35         1985         222
36         1983         203
37         1984         180
38         1982         142
39         2021         132
40         2022          79
41         1981          74
42         1980          33
43         2023          27
44         1978          16
45         1979          15
46         1977          12
47         1976           7
48         1971           5
49         2024           3
50         1975           2
51         1970           1
52         1973           1
53         1972           1
54         1974           1
55         1962           1

In [ ]:
contagem_df.to_json("contagem_por_ano.json", index=False)

In [ ]:
contagem = df["ReleaseYear"].value_counts()
contagem_df = contagem.reset_index()               # índice vira coluna
contagem_df.columns = ["ReleaseYear", "quantidade"]  # renomeia colunas
contagem_df.to_csv("contagem_por_ano.csv", index=False)  # salva sem índice extra

In [ ]:
from google.colab import files
files.download("contagem_por_ano.csv")