In [2]:
import sys
sys.path.append("../src")
import pandas as pd

In [3]:
games_df = pd.read_csv("../data/raw/games_info_viz_final_project_v2.csv")
console_df = pd.read_csv("../data/raw/console_info_viz_final_project.csv")
publisher_df = pd.read_csv("../data/raw/publisher_info_viz_final_project.csv")

C:\Users\Suporte\AppData\Local\Temp\ipykernel_10880\2261084086.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  games_df = pd.read_csv("../data/raw/games_info_viz_final_project_v2.csv")

In [13]:
publisher_df[publisher_df["HQ country"] == "Russia"]

,Unnamed: 0,Rank,Name,Classification,Released games,Unreleased games,Total revenue,Avg revenue per game,Med revenue per game,HQ country,...,% indie releases,Action,Casual,Adventure,Simulation,Strategy,RPG,MMO,Racing,Sports
109,109,110,1C-SoftClub,Indie,3,0,106300000.0,35400000.0,22200000.0,Russia,...,0%,33%,0%,0%,0%,33%,67%,0%,0%,0%